<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<style>
    .container {
	    margin: 100px 200px;
	    padding: 10px 25px;
	    border-radius: 10px;
    }

    form{
        margin: 10px;
        padding: 10px;
    }

    select{
        margin:10px;
    }

    input{
        margin: 5px;
    }

</style>
<div class="container text-center">
    <h1>Password Generator</h1>
<!--    <a href="{% url 'about' %}">About Page</a><p></p>-->
    <form action="{% url 'password' %}">
        <select name="length">
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10" selected="selected">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
        </select> Length
        <br>
        <div class="form-check">
        <input type="checkbox" class="form-check-input" name="uppercase"> Uppercase
        <br>
        <input type="checkbox" class="form-check-input" name="numbers"> Numbers
        <br>
        <input type="checkbox" class="form-check-input" name="special"> Special Characters
        <br>
        </div>
        <input type="submit" name="generate password" class="btn btn-primary">
        <br>
    </form>
</div>
</body>
</html>